@import url(common.css);

body{
    background-color: var(--color-grey);
   
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table__container{
    width:90%;
    height:400px;
    box-shadow: 1px 1px 2px grey;
    overflow: auto;
}

table{
    width:100%;

}

tr{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    font-size: 1.6rem;
    background-color: white;
    height: 5rem;
    border-bottom: 1px solid lightgrey;
}
#table_eventlist{
    margin-top: var(--tr-height);
}

.table__head{
    background-color: var(--tr-color);
    width: 100%;
    display: flex;
}
.table__toprow{
    width: 90%;
    background-color: white;
    position: fixed;
    height: var(--tr-height);
    display: flex;
    align-items: center;
    padding: 0 5rem;
}
.add_new{
    width:10rem;
    height:4rem;
    background-color: var(--color-button-add);
    
}
button{
    border: none;
    color: #5c98c9;
    background-color: rgba(0,0,0,0);
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
.edit_button,
.save_button{
    margin-right: 1.5rem;
}

